/* global styles here */
@font-face {
  font-family: "RelevantBold";
  src: local("RelevantBold"),
    url("../fonts/Relevant-Bold-wf.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RelevantMedium";
  src: local("RelevantMedium"),
    url("../fonts/Relevant-Medium-wf.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fff9f3;
  font-family: "RelevantMedium", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "RelevantBold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.purple {
  color: #692d55;
}

.light {
  color: #808080;
}

.ui .fluid input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  margin: 10px 0 20px 0;
  background-color: #fcf6ec;
  display: inline-block;
  border: none;
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  box-sizing: border-box;
}

.paper-override {
  background-color: "transparent";
  box-shadow: "none";
  overflow: "hidden";
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.submit-ticket button {
  background-color: #692d55;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 18px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0rem 0 4rem 0;
  font-family: "RelevantBold";
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px;
}

label {
  font-size: 15px;
  color: #808080;
  font-weight: 400;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  margin: 20px 0;
  background-color: #fcf6ec;

  display: inline-block;
  border: none;
  resize: none;
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  box-sizing: border-box;
}

h3 {
  font-size: 1rem;
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hover-shadow:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 3px 3px rgba(0, 0, 0, 0.17);
  transition: all 0.2s ease-in-out;
}

.cursor {
  width: 30px;
  height: 30px;

  background: red;
  border-radius: 50%;
  position: absolute;
}

.plus-icon {
  color: #808080;
  padding-right: 0.75rem;
  right: 0px;
}

.bug-icon {
  color: #692d55;
  padding-right: 0.25rem;
}

.plus-icon:hover {
  transition: all 0.2s ease-in-out;
  color: #692d55;
  cursor: pointer;
  transform: translatey(-1px);
}
button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}
.bug:hover .bug-hover {
  transition: all 0.2s ease-in-out;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.bug:hover {
  background-color: #692d55 !important;
  transform: translatey(-2px);

  transition: all 0.2s ease-in-out;
}

.import-icon {
  color: #d8d9da;
  padding-right: 0.75rem;
  right: 0px;
}

.import-pad:hover .import-icon {
  transition: all 0.2s ease-in-out;
  color: #692d55;
  cursor: pointer;
  transform: translatey(-1px);
}

.tone-add:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: translatey(-2px);
}

.tone-add:hover .plus-icon {
  color: #692d55;
}
.tone-add:hover h3 {
  color: #692d55;
}

.inl-blk {
  display: inline-block;
}

.menu-item:hover {
  cursor: pointer;
  color: #e6e6e6 !important;
  transition: all 0.2s ease-in-out;
}

.upload {
  width: 200px;
  height: 200px;
  display: block;
  border: 2px dashed #e5e5e5;
  border-radius: 200px;
  background-color: #f7f7f7;
  padding: 5rem 5rem 5rem 5rem;
}

.center {
  display: block;
  margin: 0 auto;
}

.note-select {
  display: block;
  font-weight: 500;
  padding-top: 0.5rem;
  font-size: 14px;
  text-align: center;
  color: #692d54;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sustain-select {
  display: block;
  font-weight: 700;

  font-size: 10px;

  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

hr {
  margin-top: 5rem;
  margin-bottom: 1rem;

  border: 1px solid #f8f3f6;
}
.transition {
  /* The default, as in, you get this without defining anything */
  transition-timing-function: ease;
  transition: 0.3s;
}

.upload-header {
  color: #909090;
  text-align: center;
  margin: 2rem 0 0 0;
}

.upload-body {
  color: #909090;
  text-align: center;
  margin: 0.5rem 0 2rem 0;
}
.import-pad {
  margin: 10rem;
}

.no-dec:focus {
  outline: 0;
}
